{% extends "base.html" %}

{% block center %}
<form action="{{ url_for('add_post') }}" method="post">
    <div class="form-group">
        <label>Назва пиці</label>
        <Input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label>Інградієнти пиці</label>
        <textarea name="text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Повар пиці</label>
        <select name="author_id" class="form-control">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author }}</option>
                {% endfor %}
        </select>

    </div>
    <button class="btn btn-primary">Додати пицю</button>
</form>
{% endblock center %}